# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 

.project
.settings
.classpath
.metadata
.exe
.jar
.wxs
.wixobj
.wixpdb