/jre32b/
/jre64b/
/AutoFirma_64_installer.exe
/AutoFirma_64_installer.msi
/AutoFirma_64_installer.wixobj
/AutoFirma_64_installer.wixpdb
/AutoFirma.exe
/AutoFirma.jar
/AutoFirmaConfigurador.exe
/AutoFirmaConfigurador.jar
/AutoFirmaGenerator.exe
